body{
	background: linear-gradient(lime, aqua);
}
header{
	background-color: yellow;
	height: 300px;
	color: green;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
	border: double 10px red;
}
.bgvideo{
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
}
/* CSS */
.button-27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}
nav,aside{
	width: 20%;
	background: linear-gradient(lightyellow, yellow, orange);
	float: left;
	text-align: center;
}
main{
	background-color: blue;
	width: 60%;
	float: left;
	text-align: center;
}
footer{
	background-color: lime;
	height: 300px;
	clear: both;
	text-align: center;
	justify-content: center;
	align-items: center;
}
h1{ 
  color: red;
  z-index: -2px;
  font-size: 7vw;
}
h3{
  font-size: 24px;
}
.wiki{
	color: red;
}
p{
	border: dashed 5px red;
	color: lime;
	font-size: 24px;
}
h3{
	color: red;
}
@media only screen and (max-width:800px){
  nav,main,aside,.mc{
    width: 100%;
  }
}
